vsa.mobnavsales.android/Web References/wsPDACuGenWebServices/PDA_General_Web_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/PDA_General_Web_Service" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/PDA_General_Web_Service" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/PDA_General_Web_Service" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="G_wsfnGetSalesUoM">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="poptDocType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pcdDocNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pcdSellTo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pintDocDay" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pintDocMonth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pintDocYear" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pcdItemNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="G_wsfnGetSalesUoM_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="G_wsfnGetSalesUnitPrice">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="poptDocType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pcdDocNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pcdSellTo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pintDocDay" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pintDocMonth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pintDocYear" type="int" />
            <element minOccurs="1" maxOccurs="1" name="pcdItemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pdecQuantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="pcdUoM" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="G_wsfnGetSalesUnitPrice_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="G_wsfnGetPDARole">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="pcdUserName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="G_wsfnGetPDARole_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="G_wsfnGetSalesUoM">
    <part name="parameters" element="tns:G_wsfnGetSalesUoM" />
  </message>
  <message name="G_wsfnGetSalesUoM_Result">
    <part name="parameters" element="tns:G_wsfnGetSalesUoM_Result" />
  </message>
  <message name="G_wsfnGetSalesUnitPrice">
    <part name="parameters" element="tns:G_wsfnGetSalesUnitPrice" />
  </message>
  <message name="G_wsfnGetSalesUnitPrice_Result">
    <part name="parameters" element="tns:G_wsfnGetSalesUnitPrice_Result" />
  </message>
  <message name="G_wsfnGetPDARole">
    <part name="parameters" element="tns:G_wsfnGetPDARole" />
  </message>
  <message name="G_wsfnGetPDARole_Result">
    <part name="parameters" element="tns:G_wsfnGetPDARole_Result" />
  </message>
  <portType name="PDA_General_Web_Service_Port">
    <operation name="G_wsfnGetSalesUoM">
      <input name="G_wsfnGetSalesUoM" message="tns:G_wsfnGetSalesUoM" />
      <output name="G_wsfnGetSalesUoM_Result" message="tns:G_wsfnGetSalesUoM_Result" />
    </operation>
    <operation name="G_wsfnGetSalesUnitPrice">
      <input name="G_wsfnGetSalesUnitPrice" message="tns:G_wsfnGetSalesUnitPrice" />
      <output name="G_wsfnGetSalesUnitPrice_Result" message="tns:G_wsfnGetSalesUnitPrice_Result" />
    </operation>
    <operation name="G_wsfnGetPDARole">
      <input name="G_wsfnGetPDARole" message="tns:G_wsfnGetPDARole" />
      <output name="G_wsfnGetPDARole_Result" message="tns:G_wsfnGetPDARole_Result" />
    </operation>
  </portType>
  <binding name="PDA_General_Web_Service_Binding" type="tns:PDA_General_Web_Service_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="G_wsfnGetSalesUoM">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PDA_General_Web_Service:G_wsfnGetSalesUoM" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="G_wsfnGetSalesUoM">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="G_wsfnGetSalesUoM_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="G_wsfnGetSalesUnitPrice">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PDA_General_Web_Service:G_wsfnGetSalesUnitPrice" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="G_wsfnGetSalesUnitPrice">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="G_wsfnGetSalesUnitPrice_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="G_wsfnGetPDARole">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PDA_General_Web_Service:G_wsfnGetPDARole" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="G_wsfnGetPDARole">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="G_wsfnGetPDARole_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="PDA_General_Web_Service">
    <port name="PDA_General_Web_Service_Port" binding="tns:PDA_General_Web_Service_Binding">
      <address location="http://mscrm.aecomputer.com:7147/DynamicsNAV70/WS/ReplaceWithAPercentEncodedCompanyName/Codeunit/PDA_General_Web_Service" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>